<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
<nav>
    <div class="nav-wrapper cyan">
        <a class="brand-logo"><i class="material-icons">card_giftcard</i>Makale Sistemi</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="home"><i class="material-icons left">home</i>Anasayfa</a></li>
            <li><a href="newAuthor"><i class="material-icons left">add_circle</i>Yazar Ekle</a></li>
            <li><a href="newArticle"><i class="material-icons left">add_circle</i>Makale Ekle</a></li>
            <li><a href="javascript:DoPost()"><i class="material-icons left">exit_to_app</i>Çıkış</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="home"><i class="material-icons left">home</i>Anasayfa</a></li>
            <li><a href="newAuthor"><i class="material-icons left">add_circle</i>Yazar Ekle</a></li>
            <li><a href="newArticle"><i class="material-icons left">add_circle</i>Makale Ekle</a></li>
            <li><a href="javascript:DoPost()"><i class="material-icons left">exit_to_app</i>Çıkış</a></li>
        </ul>
    </div>
</nav>
</body>
</html>